@mixin for_tablet_desktop {
    @media screen and (min-width: $tablet-desktop) {
        @content;
    }
}

// /ACCUEIL 

// Header



// Barre de recherche ville
@mixin padding_container_accueil {
    padding-left: 30px;
    padding-right: 30px;
}

// Presentation
@mixin search_restaurant_maps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 16px 0px;
    background-color: $search-bar;
    color: $text_color;
    box-shadow: $shadow_color_hover $shadow_size_search_restaurant;

}

@mixin search_restaurant_maps_input {
    background-color: $search-bar;
    text-align: center;
    border: none;
}

@mixin container1_h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0px 20px 0px;
}

@mixin search_restaurant_menu {
    background-color: $background-top;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 35px 40px 35px;
}

// Fonctionnement
@mixin h2_feature_accueil {
    margin: 40px 0px 20px 0px;
    font-size: 25px;
}

@mixin container2_number {
    display: flex;
    background-color: $primary_color;
    border: 1px $primary_color solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: -20px;
    text-decoration: none;
    position: absolute;
}

@mixin container2_operation_choice_text {
    color: $text_color;
    font-weight: bold;
    font-size: 18px;
}


@mixin container2_a {
    text-decoration: none;
    display: flex;
    background-color: $background-top;
    border-radius: 25px;
    margin: 10px 0px 20px 10px;
    box-shadow: $shadow_color $shadow-size;
    height: 80px;
    width: 100%;

    &:hover {
        box-shadow: $shadow_color_hover $shadow_size;
    }
}

@mixin operation_choice {
    margin-right: 20px;
    font-size: 20px;
}

@mixin container2_absolute {
    display: flex;
    align-items: center;
    position: relative;
}

// Restaurant
@mixin card-text {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-left: 10px;



}

@mixin cards_desktop_tablet {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em 2em;
}

@mixin card_card_menu {
    @include border_card;
    padding-bottom: 10px;

    @include for_tablet_desktop {
        padding-bottom: 0;
    }

    a {
        @include cards_card_menu_a;
        width: 100%;
    }

    & img {
        @include img;
    }

    & .card_menu_info {
        @include card-text;
    }

    & h4 {
        @include cards_card_menu_h4;
    }
}

@mixin cards_card_menu_a {
    color: black;
    text-decoration: none;
}

@mixin cards_card_menu_h4 {
    margin: 20px 0px 0px 10px;
    font-weight: normal;
}

// Footer

@mixin footer_a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

@mixin footer {
    background-color: $footer;
    color: white;
    display: flex;
    flex-direction: column;
}

@mixin footer_logo {
    color: white;
    margin: 10px;
    font-family: 'Shrikhand';
}


// Menu detail
// header

@mixin header_menu_detail_position {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin menu_progress_animation {
    transform: scaley(1);
    animation-name: progress_menu;
    animation-duration: 1000ms;       
        }  


@mixin point_suspension {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

@mixin checkbox {
    animation-name: checkbox;
}

@mixin menu_detail_h4 {
    font-size: 15px;
    font-weight: normal;
    height: 20px;
    text-overflow: ellipsis;
    color: $text_color_description;
}

@mixin menu_detail_h5 {
    font-size: 15px;
    font-weight: bold;
}

// image

@mixin image_presentation {
    object-fit: cover;
    background-size: 430px;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin img_presentation_desktop_tablet {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 400px;
    height: 220px;
}

// titre et coeur
@mixin green_trait {
    width: 50px;
    height: 3px;
    background-color: $tertiary-color;
}

// les menus
@mixin nex_ticket {
    background-color: $tertiary-color;
    color: $nouveau-text;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 25px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;

}

@mixin contener_btn {
    background-image: linear-gradient(135deg, #f15de8 0, #e754e2 25%, #ca48e5 50%, #9d32db 75%, #6f28d5 100%);
    padding: 16px 10px 16px 10px;
    color: white;
    text-decoration: none;
    width: 200px;
    border-radius: 50px;
    transition: transform 3s;
    box-shadow: $shadow_color $shadow_size;
    margin-top: 30px;

    &:hover {
        transform: scale(1);
        background-image: linear-gradient(135deg, #f17de8 0, #e774e2 25%, #ca60e5 50%, #9d44db 75%, #6f40d5 100%);
        box-shadow: $shadow_color_hover $shadow_size;
    }
}

@mixin menu_detail {
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px #ddd9d9;
    height: 80px;
    width: 100%;
}

@mixin menuprog {
    &:nth-child(1) {
        animation-duration: .5s;
    }

    &:nth-child(2) {
        animation-duration: 1s;
    }

    &:nth-child(3) {
        animation-duration: 1.5s;
    }

    &:nth-child(4) {
        animation-duration: 2s;
    }
}

@mixin border_card {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: $shadow_color $shadow-size;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

@mixin img_desktop {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px
}

@mixin img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;

}



@mixin shadow_box {
    $color: $shadow_size;
    $size: $shadow_color;
}


@mixin shadow_box_hover($colour:$shadow_color, $size: $shadow-size) {
    $color: darken($shadow_color, 10%);
}



@mixin btn_commander {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}