$mobile:(768px);
$tablet-desktop:(769px);

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$search-bar: rgb(234,234,234);
$background-top: rgb(246,246,246);
$icon: rgb(126,126,126);
$nouveau: rgb(153,226,208);
$nouveau-text: rgb(0,135,102);
$footer: rgb(54,54,54);
$shadow_color:rgb(165, 164, 164);
$text_color: black;
$text_color_description: rgb(59, 58, 58);
$shadow_color_hover: rgb(131, 130, 130);
$shadow_size_search_restaurant:(0px 0px 5px 0px);
$shadow_size:(3px 3px 5px 3px);



