.img_presentation1 {
    background-image: url(/public/asset/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.img_presentation2 {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img_presentation3 {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.img_presentation4 {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}