.heart_btn {
    display: flex;
    padding-bottom: 1.5rem;
    align-self: center;
    font-size: 1.5rem;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    svg {
        height: .7em;
        width: .7em;
        font-size: 30px;
        position: absolute;
        right: 10px;
        @include for_tablet_desktop{
            font-size: 40px;
        }
    }
    .heart_btn_enable {
        position: absolute;
        opacity: 0;
    }
    &:hover {
        cursor: pointer;
        animation: heart_btn 0.5s ease;
        -webkit-animation: heart_btn 1s ease;
        .heart_btn_enable{
            opacity: 1;
        }
        .heart_btn_desable            {
            opacity: 0;
        }
    }
}

@keyframes heart_btn {
    0% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
