.img_presentation1 {
    @include image_presentation;
    @include for_tablet_desktop {
    @include img_presentation_desktop_tablet;
    }
}


.img_presentation2 {
    @include image_presentation;
    @include for_tablet_desktop {
    @include img_presentation_desktop_tablet;
    }
}

.img_presentation3 {
    @include image_presentation;
    @include for_tablet_desktop {
    @include img_presentation_desktop_tablet;
    }
}

.img_presentation4 {
    @include image_presentation;

    @include for_tablet_desktop {
    @include img_presentation_desktop_tablet;
    }
}