.loader{
    
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    margin: 0;
    background-color: rgba(245, 245, 245, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader_background 3 forwards; 
    -webkit-animation:loader_background 3s forwards ;
    -o-animation: loader_background 3s forwards;
}
.loading_container{
    background-color: rgba(255, 255, 255, 0.247);
    border: 10px solid $primary-color;
    width:100px;
    height: 100px;
    -webkit-animation:spin 3s infinite ;
    -o-animation: spin 3s infinite;
    animation: spin 3s infinite;  
    
    border-top:10px solid $tertiary-color;
    border-bottom:10px solid $secondary-color;
    border-radius: 50%;
// placement du spinner

margin: auto;
position: fixed;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}


// Animation du loader
@-webkit-keyframes spin {
    
        0%{
            -webkit-transform: rotate(0deg);
        }

        100%{
            -webkit-transform: rotate(360deg);
        }
        
    
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
   opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
       opacity: 0;
    }
    
}
@keyframes loader_background {
    100%{        
         visibility: hidden;
    }    
}