* {
  margin: 0;
}

.img_presentation1 {
  background-image: url(/public/asset/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.img_presentation2 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img_presentation3 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.img_presentation4 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

main,
footer {
  font-family: "Roboto", sans-serif;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  margin: 0;
  background-color: rgba(245, 245, 245, 0.616);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader_background 3 forwards;
  -webkit-animation: loader_background 3s forwards;
  -o-animation: loader_background 3s forwards;
}

.loading_container {
  background-color: rgba(255, 255, 255, 0.247);
  border: 10px solid #9356DC;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s infinite;
  -o-animation: spin 3s infinite;
  animation: spin 3s infinite;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  margin: auto;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader_background {
  100% {
    visibility: hidden;
  }
}
.img_presentation1 {
  object-fit: cover;
  background-size: 430px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 769px) {
  .img_presentation1 {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 400px;
    height: 220px;
  }
}

.img_presentation2 {
  object-fit: cover;
  background-size: 430px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 769px) {
  .img_presentation2 {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 400px;
    height: 220px;
  }
}

.img_presentation3 {
  object-fit: cover;
  background-size: 430px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 769px) {
  .img_presentation3 {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 400px;
    height: 220px;
  }
}

.img_presentation4 {
  object-fit: cover;
  background-size: 430px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 769px) {
  .img_presentation4 {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 400px;
    height: 220px;
  }
}

.heart_btn {
  display: flex;
  padding-bottom: 1.5rem;
  align-self: center;
  font-size: 1.5rem;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}
.heart_btn svg {
  height: 0.7em;
  width: 0.7em;
  font-size: 30px;
  position: absolute;
  right: 10px;
}
@media screen and (min-width: 769px) {
  .heart_btn svg {
    font-size: 40px;
  }
}
.heart_btn .heart_btn_enable {
  position: absolute;
  opacity: 0;
}
.heart_btn:hover {
  cursor: pointer;
  animation: heart_btn 0.5s ease;
  -webkit-animation: heart_btn 1s ease;
}
.heart_btn:hover .heart_btn_enable {
  opacity: 1;
}
.heart_btn:hover .heart_btn_desable {
  opacity: 0;
}

@keyframes heart_btn {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.contener_btn {
  background-image: linear-gradient(135deg, #f15de8 0, #e754e2 25%, #ca48e5 50%, #9d32db 75%, #6f28d5 100%);
  padding: 16px 10px 16px 10px;
  color: white;
  text-decoration: none;
  width: 200px;
  border-radius: 50px;
  transition: transform 3s;
  box-shadow: #a5a4a4 3px 3px 5px 3px;
  margin-top: 30px;
}
.contener_btn:hover {
  transform: scale(1);
  background-image: linear-gradient(135deg, #f17de8 0, #e774e2 25%, #ca60e5 50%, #9d44db 75%, #6f40d5 100%);
  box-shadow: #838282 3px 3px 5px 3px;
}
.btn_commander {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}
.btn_commander .contener_btn {
  background-image: linear-gradient(135deg, #f15de8 0, #e754e2 25%, #ca48e5 50%, #9d32db 75%, #6f28d5 100%);
  padding: 16px 10px 16px 10px;
  color: white;
  text-decoration: none;
  width: 200px;
  border-radius: 50px;
  transition: transform 3s;
  box-shadow: #a5a4a4 3px 3px 5px 3px;
  margin-top: 30px;
}
.btn_commander .contener_btn:hover {
  transform: scale(1);
  background-image: linear-gradient(135deg, #f17de8 0, #e774e2 25%, #ca60e5 50%, #9d44db 75%, #6f40d5 100%);
  box-shadow: #838282 3px 3px 5px 3px;
}

@keyframes checkbox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu_delay_1 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.menu_delay_2 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.menu_delay_3 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
header {
  padding-top: 21px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
}
header a {
  position: absolute;
  margin-right: 280px;
  color: black;
}
@media screen and (min-width: 769px) {
  header a {
    position: absolute;
    margin-right: 420px;
  }
}

footer {
  background-color: #363636;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: left;
  padding: 15px;
}
@media screen and (min-width: 769px) {
  footer {
    align-items: center;
    justify-content: center;
  }
}
footer .footer_logo {
  color: white;
  margin: 10px;
  font-family: "Shrikhand";
  font-size: 20px;
}
footer i {
  margin-right: 10px;
}
footer a {
  margin: 5px;
  color: #f6f6f6;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  footer a {
    margin: 10px;
  }
}

.section_container1 {
  text-align: center;
}
@media screen and (min-width: 769px) {
  .section_container1 {
    margin-top: 20px;
  }
}
.section_container1 .search_restaurant_maps {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 16px 0px;
  background-color: #eaeaea;
  color: black;
  box-shadow: #838282 0px 0px 5px 0px;
}
.section_container1 .search_restaurant_maps input {
  background-color: #eaeaea;
  text-align: center;
  border: none;
}
.section_container1 h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}
.section_container1 .search_restaurant_menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 35px 40px 35px;
}
.section_container1 .search_restaurant_menu .restaurant_decouverte {
  font-size: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 769px) {
  .section_container1 .search_restaurant_menu .restaurant_decouverte {
    font-size: 20px;
  }
}

.container2 {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}
@media screen and (min-width: 769px) {
  .container2 {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.container2 h2 {
  margin: 40px 0px 20px 0px;
  font-size: 25px;
}
.container2 .container2_operation {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .container2 .container2_operation {
    width: 100%;
    margin: 30px;
    justify-content: space-between;
  }
}
.container2 .container2_operation .absolute {
  display: flex;
  align-items: center;
  position: relative;
}
.container2 a {
  text-decoration: none;
  display: flex;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 10px 0px 20px 10px;
  box-shadow: #a5a4a4 3px 3px 5px 3px;
  height: 80px;
  width: 100%;
}
.container2 a:hover {
  box-shadow: #838282 3px 3px 5px 3px;
}
.container2 a:hover {
  background-color: white;
}
@media screen and (min-width: 769px) {
  .container2 a {
    border-radius: 10px;
    font-size: 20px;
  }
}
.container2 .number {
  display: flex;
  background-color: #9356DC;
  border: 1px #9356DC solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: -20px;
  text-decoration: none;
  position: absolute;
}
.container2 i {
  margin-right: 20px;
  font-size: 20px;
  color: #7e7e7e;
  margin-left: 25px;
}
@media screen and (min-width: 769px) {
  .container2 i {
    font-size: 30px;
  }
}
.container2 .container2_operation_choice {
  margin-right: 20px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (min-width: 769px) {
  .container2 .container2_operation_choice {
    font-size: 18px;
  }
}

.container3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 10px;
  background-color: #F8F7F7;
}
@media screen and (min-width: 769px) {
  .container3 {
    padding-right: 30px;
    padding-left: 30px;
    align-content: center;
  }
}
@media screen and (min-width: 769px) {
  .container3 .cards {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em 2em;
  }
}
.container3 h2 {
  margin: 40px 0px 20px 0px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container3 .cards_card_menu {
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: #a5a4a4 3px 3px 5px 3px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .container3 .cards_card_menu {
    padding-bottom: 0;
  }
}
.container3 .cards_card_menu a {
  color: black;
  text-decoration: none;
  width: 100%;
}
.container3 .cards_card_menu img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.container3 .cards_card_menu .card_menu_info {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-left: 10px;
}
.container3 .cards_card_menu h4 {
  margin: 20px 0px 0px 10px;
  font-weight: normal;
}
.container3 .cards_card_menu:hover {
  box-shadow: #838282 3px 3px 5px 3px;
}
@media screen and (min-width: 769px) {
  .container3 .cards_card_menu {
    height: 250px;
  }
}
.container3 .cards_card_menu h3 {
  margin: 0;
}
.container3 .cards_card_menu h4 {
  margin-top: 0px;
}
.container3 .cards_card_menu .new_ticket {
  background-color: #99E2D0;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
}
.container3 .cards_card_menu:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}
.container3 .cards_card_menu:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.card_title {
  padding: 20px;
  border-radius: 25px 25px 0px 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin-top: -15px;
  background-color: #f6f6f6;
}
.card_title .heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.card_title h1 {
  font-size: 30px;
  font-family: "Shrikhand";
  font-weight: bold;
}
.card_title .section_title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
}
.card_title h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}
.card_title .card_menu-details {
  text-decoration: none;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px #ddd9d9;
  height: 80px;
  width: 100%;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  background-color: white;
  margin: 10px 0px 20px 0px;
  transform: scaley(1);
  animation-name: progress_menu;
  animation-duration: 1000ms;
}
@media screen and (min-width: 769px) {
  .card_title .card_menu-details {
    margin: 10px 10px 20px 10px;
    padding: 15px;
    height: 55px;
    max-width: 350px;
  }
}
.card_title .card_menu-details:hover .card_hover {
  margin-right: 80px;
  transition: margin-right 0.4s ease-in-out;
}
.card_title .card_menu-details:hover .fas {
  animation: checkbox 0.4s forwards;
}
.card_title .card_menu-details:hover .check {
  margin-right: 0px;
  background-color: #99E2D0;
}
@media screen and (min-width: 769px) {
  .card_title .grig_desktop_tablet_only {
    max-width: 2000px;
    margin: 5px 30px 30px 30px;
    align-content: center;
    display: flex;
    justify-content: space-between;
  }
}
.card_title h3 {
  font-size: 18px;
  margin: 10px 10px 0px 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
@media screen and (min-width: 769px) {
  .card_title h3 {
    margin: 0;
  }
}
.card_title .menu_info_price {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;
}
@media screen and (min-width: 769px) {
  .card_title .menu_info_price {
    align-items: center;
    padding-top: 15px;
    margin: 0;
  }
}
.card_title .menu_info_price h4 {
  font-size: 15px;
  font-weight: normal;
  height: 20px;
  text-overflow: ellipsis;
  color: #3b3a3a;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.card_title .menu_info_price h5 {
  font-size: 15px;
  font-weight: bold;
}
.card_title .card_hover {
  margin-right: 0px;
  transition: all 0.4s ease-in-out;
}
.card_title .check {
  display: flex;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: #99E2D0;
  right: 0px;
  border-radius: 0 10px 10px 0;
  width: 80px;
  margin-right: -80px;
  transition: all 0.4s ease-in-out;
  animation-name: checkbox;
}
.card_title .check .fas {
  margin: auto;
  font-size: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
