footer {
    @include footer;
    font-size: 15px;
    justify-content: left;
    padding: 15px;

    @include for_tablet_desktop {
        align-items: center;
        justify-content: center;
    }

    .footer_logo {
        @include footer_logo;
        font-size: 20px;
    }

    i {
        margin-right: 10px;
        
    }

    a {
        margin: 5px;
        color: $background-top;
        text-decoration: none;

        @include for_tablet_desktop {
        margin: 10px;
        }
    }
}