header {
    padding-top: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    & a{
        position: absolute;
        margin-right: 280px;
        color: black;
    }
    @include for_tablet_desktop{
    & a{
        position: absolute;
        margin-right: 420px;
    }}
}