.card_title {
    padding: 20px;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: -15px;
    background-color: $background-top;

    .heart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 30px;
        font-family: 'Shrikhand';
        font-weight: bold;
    }

    .section_title::after {
        content: "";
        display: block;
        @include green_trait;
    }


    h2 {
        font-size: 20px;
        font-weight: normal;
        margin-top: 40px;
        margin-bottom: 20px;
    }
     

    .card_menu-details {
        @include menu_detail;
        overflow: hidden;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        background-color: white;
        margin: 10px 0px 20px 0px;
         
        @include menu_progress_animation;
        @include for_tablet_desktop {
            margin: 10px 10px 20px 10px;
            padding: 15px;
            height: 55px;
            max-width: 350px;               
        }
      
      &:hover .card_hover{
          margin-right: 80px;
          transition: margin-right 0.4s ease-in-out;
      }  
      &:hover .fas{
        animation: checkbox 0.4s forwards;
        
      }
      &:hover .check{
          margin-right: 0px;
          background-color: $tertiary-color;
          
      }
    }

    @include for_tablet_desktop {
        .grig_desktop_tablet_only {
            max-width: 2000px;
            margin: 5px 30px 30px 30px;
            align-content: center;
            display: flex;
            justify-content: space-between;
        }
    }
    h3 {
        font-size: 18px;
        margin: 10px 10px 0px 10px;
        @include point_suspension;
        @include for_tablet_desktop {
            margin: 0;            
        }
    }

    .menu_info_price {
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 0px 10px;
        @include for_tablet_desktop {
            align-items: center;
            padding-top: 15px;
            margin: 0;
        }
        h4 {
            @include menu_detail_h4;
            @include point_suspension;
        }

        h5 {
            @include menu_detail_h5;
        }
    }
    .card_hover{
        margin-right: 0px;
        transition: all 0.4s ease-in-out;
    }

    .check {
        display: flex;
        position: absolute;
        top: 0px;
        bottom: 0px;
        background-color: $tertiary-color;
        right: 0px;
        border-radius: 0 10px 10px 0;        
        width: 80px;
        margin-right: -80px;
        transition: all 0.4s ease-in-out;    
      
        .fas {
            margin: auto;
            font-size: 30px;            
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $tertiary-color;
            background-color: white;
            border-radius: 50%;  
            
               
        }
        @include checkbox;
    } 
      
}