.container2 {
        @include padding_container_accueil;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
@include for_tablet_desktop{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
        h2 {
            @include h2_feature_accueil;
        }
        .container2_operation {
            display: flex;
            justify-content: center;
@include for_tablet_desktop{
    width: 100%;
    margin: 30px;
    justify-content: space-between;
}
            .absolute {
                @include container2_absolute;
              
               
            }
        }

        a {
            @include container2_a;
            &:hover{
                background-color: white;
            }
@include for_tablet_desktop{
    border-radius: 10px;
    font-size: 20px;
}         
        }
        .number {
            @include container2_number;
        }
        i {
            @include operation_choice;
            color: $icon;
            margin-left: 25px;
            @include for_tablet_desktop{
                font-size: 30px; 
            }
        }
        .container2_operation_choice {
            @include operation_choice;
            @include container2_operation_choice_text;
           
            @include for_tablet_desktop{
                font-size: 18px;    
            }
        }
    }
