.section_container1 {
    text-align: center;
    
    @include for_tablet_desktop{
        margin-top: 20px;
    }
    .search_restaurant_maps {
        @include search_restaurant_maps;
        input {
         @include search_restaurant_maps_input;   
        }
    }
    h1 {
        @include container1_h1;
        
    }    
    .search_restaurant_menu {
       @include search_restaurant_menu; 
        .restaurant_decouverte {
            font-size: 16px;
            margin-bottom: 30px;
            @include for_tablet_desktop{
                font-size: 20px;
            }
        }
    }
 }