.container3 {
    @include padding_container_accueil;
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: #F8F7F7;

    @include for_tablet_desktop {
        padding-right: 30px;
        padding-left: 30px;
        align-content: center;
    }


    .cards {
        @include for_tablet_desktop {
            align-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em 2em;
        }
    }

    h2 {
        @include h2_feature_accueil;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .cards_card_menu {

        @include card_card_menu;
        width: 100%;
      
        &:hover {
           
            box-shadow: $shadow_color_hover $shadow_size;
        }

        @include for_tablet_desktop {
            height: 250px;
        }

        h3 {
            margin: 0;
        }

        h4 {
            margin-top: 0px;
        }

        .new_ticket {
            @include nex_ticket;
        }

        &:nth-child(1) {
            display: flex;
            justify-content: flex-end;
        }

        &:nth-child(2) {
            display: flex;
            justify-content: flex-end;
        }
    }

}